.form{
    max-width: 22.1875rem;
    height: 27.5rem;
    border: 1px solid var(--color-grey2);
    margin: 1.5rem 0rem 1rem 1rem;
    padding: 0.9375rem 1.25rem 1.5625rem 0.9375rem;

    button{
        background-color: var(--color-primary);
        max-width: 19.625rem;
        min-width: 16.6875rem;
        height: 3.3125rem;
        border:none;
        margin-top: 1.25rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        line-height: 1.1875rem;
        font-family: var(--font-family-2);
        font-weight: 500;
        color: var(--color-grey1);

        &:hover{
            background-color: var(--color-primary-2)
        }
    }
}
