.conteiner{
    max-width: 22.1875rem;
    height: 6rem;
    border: 1px solid var(--color-grey1);
    border-radius: 0.25rem;
    margin: 1rem 0rem 1rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
}

.conteinerPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    color: var(--color-primary);
    font-size: 1rem;
    font-family: var(--font-family);
    line-height: 1.875rem;
    font-weight: 700;
}