.title1{
    font-size: 2.375rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--color-grey4);
}

.title2{
    font-size: 2.375rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--color-grey4);
}

.title3{
    font-size: 2.375rem;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--color-grey4);
}

