.header{
    max-height: 4.375rem;
    width: 100%;
    background-color: var(--color-grey1);
    
    box-shadow: 0rem 0.25rem 2rem -0.75rem #00000040;
    padding: 1.875rem 0rem 1.875rem 1.25rem;
    margin: 0rem 0rem 0.3125rem 0.3125rem;

}

